---
---

      <!-- Education -->
      <div class="mt-10 sm:mt-14">
        <h2 class="mb-3 font-medium text-gray-800 dark:text-neutral-200">
          Education
        </h2>

        <!-- Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
            <img src="/umj-logo.png" alt="UMJ Logo" class="shrink-0 size-10 mb-3" />

            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
              2016 - 2020
            </h3>

            <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
              Bachelor's degree in Informatics Engineering
            </p>

            <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
              Universitas Muhammadiyah Jakarta
            </p>
          </div>

        </div>
        <!-- End Grid -->
      </div>
      <!-- End Education -->