---
const experiences = [
  {
    period: "2023 - Present",
    title: "Software Engineer at Xoxzo Inc.",
    description: "Work remotely with a focus on infrastructure optimization, cost savings, and operational reliability for a telecom company in Japan.",
    bulletPoints: [
      "Optimized AWS infrastructure (EC2, ALB, VPC, RDS) using Ansible and Terraform.",
      "Achieved up to 40% cloud cost savings based on AWS Budget and New Relic metrics.",
      "Maintained and automated infrastructure with Bash, Terraform, and Ansible.",
      "Supported app development and ensured scalable server configuration.",
    ]
  },
  {
    period: "2023 - 2025",
    title: "Server-side Engineer at Solafune Inc.",
    description: "Built backend and frontend features for a space-themed competition platform.",
    bulletPoints: [
      "Developed backend APIs using Flask and PostgreSQL.",
      "Implemented frontend features with Next.js.",
      "Containerized services using Docker for consistent development and deployment."
    ]
  },
  {
    period: "2021 - 2022",
    title: "Software Engineer at Gojek",
    description: "Worked on core company websites and internal platforms used by millions of users.",
    bulletPoints: [
      "Maintained and developed gojek.com, newsroom, and internal CMS using Django and PostgreSQL.",
      "Handled CI/CD (GitLab CI), Docker, and GCP server provisioning.",
      "Improved ORM performance, handled large-scale data migration and security fixes.",
    ]
  },
  {
    period: "2021",
    title: "Software Dev Engineer at Practical DevSecOps",
    description: "Contributed to an interactive DevSecOps learning platform.",
    bulletPoints: [
      "Developed fullstack features using Django, Celery, and PostgreSQL.",
      "Maintained containerized services using Docker.",
      "Enhanced frontend components with JavaScript.",
    ]
  },
  {
    period: "2017 - 2021",
    title: "Backend Engineer at Gojek",
    description: "Focused on campaign and marketing tools for Gojek ecosystem.",
    bulletPoints: [
      "Built web platforms for events like GoFood, Gopoints, and Ramadan campaigns.",
      "Maintained and scaled internal platforms like Trooperience and Gojek Career site.",
      "Managed backend services, CMS, and analytics integrations using Python, Django, and PostgreSQL.",
    ]
  },
  {
    period: "2017",
    title: "IT Developer at PT BDR Indonesia",
    bulletPoints: [
      "Set up LAN-based production systems in Linux environments.",
      "Developed internal reporting tools using Django and MariaDB.",
    ]
  },
  {
    period: "2016 - 2017",
    title: "Web Developer at OIG Asia",
    bulletPoints: [
      "Built web apps based on client specifications.",
      "Worked on Dell Indonesia’s Point of Sales system using Ruby on Rails.",
    ]
  }
];
---

<!-- Work Experience -->
<div class="mt-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">
    Work experience
  </h2>

  <!-- Timeline -->
  <div>
    {experiences.map((experience, index) => (
      <div class="group relative flex gap-x-5">
        <!-- Icon -->
        <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
          <div class="relative z-10 size-6 flex justify-center items-center">
            <svg class="shrink-0 size-6 text-gray-800 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 12h.01" />
              <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2" />
              <path d="M22 13a18.15 18.15 0 0 1-20 0" />
              <rect width="20" height="14" x="2" y="6" rx="2" />
            </svg>
          </div>
        </div>
        <!-- End Icon -->

        <!-- Right Content -->
        <div class="grow pb-8 group-last:pb-0">
          <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
            {experience.period}
          </h3>

          <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
            {experience.title}
          </p>

          {experience.description && (
            <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
              {experience.description}
            </p>
          )}

          {experience.bulletPoints && (
            <ul class="list-disc ms-6 mt-3 space-y-1.5">
              {experience.bulletPoints.map((point) => (
                <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
                  {point}
                </li>
              ))}
            </ul>
          )}
        </div>
        <!-- End Right Content -->
      </div>
    ))}
  </div>
  <!-- End Timeline -->
</div>
<!-- End Work Experience -->
